html{
    box-sizing: border-box;
}

.hometitle{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: block;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    background-color: rgb(228, 223, 153);
    padding:10px;
    text-align: center;
    border-color: brown;
    border-style: solid;
    font-size: 48px;
}

.recipelist{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    padding:3px;
    list-style-type: none;
    font-size: 32px;
}

.one{
    margin-bottom:15px;
}

.two{
    margin-bottom: 15px;
}

.gif{
    box-sizing: border-box;
    display:inline;
    width: 100px;
    height: auto;
}

.description{
    font-size:28px;
}

.link{
    color:rgb(235, 59, 238)
}

.instructions{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.stepslist{
    list-style: none;
}

.stepsheading{
    margin-left:15px;
}